*.log
*.o
*.trs
*~
.deps/
.libs/
/aclocal.m4
/am
/autom4te.cache/
/build-cmake/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/dependencies.m4
/dune-istl-*.tar.gz
/dune-istl-?.?/
/dune-istl.pc
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
/test-driver
Makefile
Makefile.in
semantic.cache
