Makefile
Makefile.in
.deps
.libs
semantic.cache
complexrhstest
dotproducttest
bvectortest
matrixutilstest
vectorcommtest
matrixtest
matrixiteratortest
overlappingschwarztest
bcrsbuildtest
superlctest
superlustest
superlutest
superlztest
mmtest
mv
iotest
inverseoperator2prectest
scaledidmatrixtest
basearraytest
vbvectortest
matrixredisttest
matrixmarkettest
superluztest
testmat
testvec
superluctest
seqmatrixmarkettest
solvertest
umfpacktest
*.log
*.trs
testmat_0.idx
testmat_0.mm
testvec_0.mm
