/amgtest
/fastamg
/galerkintest
/graphtest
/hierarchytest
/kamgtest
/pamg_comm_repart_test
/pamgtest
/pthreadamgtest
/pthreadfastamgtest
/pthreadtwoleveltest
/transfertest
/twolevelmethodschwarztest
/twolevelmethodtest

